html {
	background-color: #222;
	display: flex;
	justify-content: center;
}
body {
	background-color: grey;

	padding: 0px;
	margin: 0px;
	border: 0px;

	height: 100vh;
	max-height: 300px;

	width: 100vw;
	max-width: 800px;

	overflow: hidden;
}
/* General classes*/
.cover {
	width: 100%;
	height: 100%;
}
/* Game*/
#game {
	background-color: darkgray;
}
#board {
	background-color: navy;
}
/*Menu*/
#menu {
	background-color: orange;
	display: flex;
	flex-direction: column;
	place-items: center;

	background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGQzNi0xLXBpYTE4OTA2LmpwZw.jpg");

	background-size: cover;
	background-repeat: no-repeat;
}
#score {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);

	min-width: 100%;
	flex-grow: 1;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#score > div {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.scTitle {
	font-size: 1.5em;
}
.scValue {
	font-size: 5em;
	font-weight: bolder;
}
#score ~ div {
	width: 100%;
	display: flex;
}
#btnStart {
	background-color: #2db9ff;
	min-height: 50px;
	font-size: 1.5em;
	font-weight: bolder;
	width: 100%;
}
#btnStart:hover {
	background-color: #96dcff;
	box-shadow:
		0 0 15px #96dcff,
		0 0 45px #96dcff,
		0 0 90px #96dcff;
}
#btnRank,
#btnLogin {
	background-color: #cc7000;
	flex-grow: 1;
	font-size: 1.2em;
}
/*Ranking*/
#ranking > table {
	width: 100%;
	height: 60%;
	max-height: 60%;

	overflow-y: scroll;

	text-align: center;
	background-color: #222;
	color: white;
}
#raking > table,
#ranking > table *{
	border: 1px solid white;
	border-collapse: collapse;
}
#ranking > button {
	width: 100%;
	height: 18%;

	font-size: 300%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#ranking > table tr:has(th){
	background-color: black;
	position: sticky;
	top: 0;
	th {
		font-weight: bolder;
	}
}

#ranking > table > tbody > tr:hover > td:nth-child(1){
	background-color: #555514;
}
#ranking > table > tbody > tr:hover > td:nth-child(2){
	background-color: #145719;
}
#ranking > table > tbody > tr:hover > td:nth-child(3){
	background-color: #141f57;
}
#ranking > table > tbody > tr:hover > td:nth-child(4){
	background-color: #571414;
}

/* Login*/
#login {
	background-color: navy;
	margin-top: -1.3em;
}
#login h2 {
	top: 0;
	width: 100%;

	background-color: black;
	color: white;
	text-align: center;
}
#login label {
	color: white;
}

